Repository UCSB-Maxwell-Jung/ECE153B, pull requests merged in 2023-03, with the labels that each got.

#103 Working lab6a
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/lab6a/main.c
Labels: tested, ready to merge, lab6

#104 Make motor spin faster and infinitely
  src/lab6a/main.c
Labels: tested, ready to merge, lab6

#89 Finish Lab6a
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/lab6a/main.c
Labels: tested, working, ready to merge, lab6

#106 fill LCD screen black using SPI commands
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_GFX.cpp
  src/final/Adafruit_GFX.h
  src/final/Adafruit_ILI9341.cpp
  src/final/Adafruit_ILI9341.h
  src/final/Adafruit_SPITFT.cpp
  src/final/Adafruit_SPITFT.h
  src/final/DebugConfig/Target_1_STM32L476RGTx.dbgconf
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SysTimer.cpp
  src/final/SysTimer.h
  src/final/UART.cpp
  src/final/UART.h
  src/final/device.h
  src/final/gfxfont.h
  src/final/glcdfont.c
  src/final/main.cpp
Labels: tested, ready to merge, final

#108 Fix SPI transfer code copied from lab4c
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_GFX.cpp
  src/final/Adafruit_GFX.h
  src/final/Adafruit_ILI9341.cpp
  src/final/Adafruit_ILI9341.h
  src/final/Adafruit_SPITFT.cpp
  src/final/Adafruit_SPITFT.h
  src/final/DebugConfig/Target_1_STM32L476RGTx.dbgconf
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SysTimer.cpp
  src/final/SysTimer.h
  src/final/UART.cpp
  src/final/UART.h
  src/final/device.h
  src/final/gfxfont.h
  src/final/glcdfont.c
  src/final/main.cpp
Labels: tested, working, ready to merge, final

#110 Reliably paint the entire screen RGB, but very slowly.
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_ILI9341.cpp
  src/final/Adafruit_SPITFT.cpp
  src/final/Adafruit_SPITFT.h
  src/final/LED.cpp
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SysTick.c
  src/final/SysTick.h
  src/final/main.cpp
Labels: tested, working, ready to merge, final

#114 Use object oriented programming for UART devices
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SPI_Display.cpp
  src/final/UART.cpp
  src/final/UART.h
  src/final/UART_Bluetooth.cpp
  src/final/UART_Bluetooth.h
  src/final/UART_Wired.cpp
  src/final/UART_Wired.h
  src/final/camera.h
  src/final/main.cpp
  src/final/retarget.c
Labels: tested, working, ready to merge, final

#113 Measure time elapsed in microseconds (us) instead of milliseconds (ms)
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SPI_Display.cpp
  src/final/SysTick.c
  src/final/UART.cpp
  src/final/UART.h
  src/final/UART_Bluetooth.cpp
  src/final/UART_Bluetooth.h
  src/final/UART_Wired.cpp
  src/final/UART_Wired.h
  src/final/camera.h
  src/final/main.cpp
  src/final/retarget.c
Labels: tested, working, ready to merge, final

#112 Pass all draw shape graphics tests
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_GFX.cpp
  src/final/Adafruit_GFX.h
  src/final/Adafruit_ILI9341.cpp
  src/final/Adafruit_ILI9341.h
  src/final/Adafruit_SPITFT.cpp
  src/final/Adafruit_SPITFT.h
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SPI_Display.cpp
  src/final/SysTick.c
  src/final/UART.cpp
  src/final/UART.h
  src/final/UART_Bluetooth.cpp
  src/final/UART_Bluetooth.h
  src/final/UART_Wired.cpp
  src/final/UART_Wired.h
  src/final/camera.h
  src/final/main.cpp
  src/final/retarget.c
Labels: tested, working, ready to merge, final

#111 Stable custom SPI and UART HAL
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_GFX.cpp
  src/final/Adafruit_GFX.h
  src/final/Adafruit_ILI9341.cpp
  src/final/Adafruit_ILI9341.h
  src/final/Adafruit_SPITFT.cpp
  src/final/Adafruit_SPITFT.h
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SPI_Display.cpp
  src/final/SPI_Display.h
  src/final/SysTick.c
  src/final/UART.cpp
  src/final/UART.h
  src/final/UART_Bluetooth.cpp
  src/final/UART_Bluetooth.h
  src/final/UART_Wired.cpp
  src/final/UART_Wired.h
  src/final/camera.h
  src/final/device.h
  src/final/main.cpp
  src/final/retarget.c
Labels: tested, working, ready to merge, final

#115 Pass all Adafruit's graphics test from arduino graphics test code
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_GFX.cpp
  src/final/Adafruit_GFX.h
  src/final/Adafruit_ILI9341.cpp
  src/final/Adafruit_ILI9341.h
  src/final/Adafruit_SPITFT.cpp
  src/final/Adafruit_SPITFT.h
  src/final/Print.cpp
  src/final/Print.h
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SPI_Display.cpp
  src/final/SPI_Display.h
  src/final/SysTick.c
  src/final/UART.cpp
  src/final/UART.h
  src/final/UART_Bluetooth.cpp
  src/final/UART_Bluetooth.h
  src/final/UART_Wired.cpp
  src/final/UART_Wired.h
  src/final/camera.h
  src/final/device.h
  src/final/main.cpp
  src/final/retarget.c
Labels: tested, working, ready to merge, final

#120 bring in Baron's latest changes from backup/baron/camera
  .gitignore
  .vscode/settings.json
  Cube/camera/.gitignore
  Cube/camera/.settings/language.settings.xml
  Cube/camera/.settings/stm32cubeide.project.prefs
  Cube/camera/Core/Src/ArduCAM.c
  Cube/camera/Core/Src/usart.c
Labels: ready to merge, final

#125 implement custom Serial.println() instead of redirecting stdio's printf()
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Print.cpp
  src/final/Print.h
  src/final/UART.cpp
  src/final/UART.h
  src/final/UART_Wired.cpp
  src/final/main.cpp
  src/final/retarget.c
Labels: tested, working, ready to merge, final

#126 modularize main function into graphics test (to prep for testing camera)
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/graphicstest.cpp
  src/final/graphicstest.h
  src/final/main.cpp
Labels: tested, working, ready to merge, final

#127 optimize include headers
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_GFX.cpp
  src/final/Adafruit_GFX.h
  src/final/Adafruit_ILI9341.cpp
  src/final/Adafruit_ILI9341.h
  src/final/LED.h
  src/final/Print.cpp
  src/final/Print.h
  src/final/SPI.h
  src/final/SPI_Display.cpp
  src/final/SysClock.h
  src/final/SysTick.h
  src/final/UART.h
  src/final/UART_Bluetooth.cpp
  src/final/UART_Wired.cpp
  src/final/graphicstest.cpp
  src/final/nucleo.h
Labels: ready to merge, final

#133 Refactor to match Google & Microsoft's C++ styling guide
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_GFX.cpp
  src/final/Adafruit_ILI9341.cpp
  src/final/Adafruit_ILI9341.h
  src/final/Adafruit_SPITFT.cpp
  src/final/Adafruit_SPITFT.h
  src/final/LED.cpp
  src/final/LED.h
  src/final/SPI.cpp
  src/final/SPI.h
  src/final/SPI_Display.h
  src/final/SysClock.cpp
  src/final/SysClock.h
  src/final/SysTick.c
  src/final/SysTick.h
  src/final/UART.cpp
  src/final/UART.h
  src/final/UART_Bluetooth.h
  src/final/UART_Wired.h
  src/final/graphics_test.cpp
  src/final/graphics_test.h
  src/final/graphicstest.h
  src/final/hardware_spi1.cpp
  src/final/hardware_spi1.h
  src/final/hardware_usart1.cpp
  src/final/hardware_usart1.h
  src/final/hardware_usart2.cpp
  src/final/hardware_usart2.h
  src/final/main.cpp
  src/final/nucleo.h
Labels: tested, working, ready to merge, final

#132 Use SPI3 to read list of files on SDcard
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/FatStructs.h
  src/final/File.cpp
  src/final/SD.cpp
  src/final/SD.h
  src/final/Sd2Card.cpp
  src/final/Sd2Card.h
  src/final/Sd2PinMap.h
  src/final/SdFat.h
  src/final/SdFatUtil.h
  src/final/SdFile.cpp
  src/final/SdInfo.h
  src/final/SdVolume.cpp
  src/final/Stream.cpp
  src/final/Stream.h
  src/final/hardware_spi3.cpp
  src/final/hardware_spi3.h
  src/final/main.cpp
  src/final/sdcard_list_files_test.cpp
  src/final/sdcard_list_files_test.h
  starter_code/SD-master.zip
Labels: tested, working, ready to merge, final

#131 SPI2 setup completed for camera
  src/final/ArduCAM.cpp
  src/final/SPI_Camera.cpp
  src/final/nucleo.h
Labels: bug, in progress, final

#138 Implement I2c data transfer
  .vscode/settings.json
  src/final/ArduCAM.cpp
  src/final/I2C.cpp
  src/final/I2C.h
  src/final/SysClock.cpp
  src/final/hardware_i2c1.cpp
Labels: ready to merge, in progress, final

#135 Increase stack size
  src/final/Adafruit_ImageReader.cpp
  src/final/startup_stm32l476xx.s
Labels: tested, working, ready to merge, final

#141 configure i2c timings
  src/final/SysClock.cpp
  src/final/hardware_i2c1.cpp
Labels: in progress, needs testing, final

#130 Successfully draw bitmap image
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_GFX.cpp
  src/final/Adafruit_GFX.h
  src/final/bitmap_test.cpp
  src/final/bitmap_test.h
  src/final/dragon.h
  src/final/main.cpp
  test_images/adafruit_products_purple.bmp
Labels: tested, working, ready to merge, final

#143 camera test attempt 1 (not working)
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_ImageReader.cpp
  src/final/ArduCAM.cpp
  src/final/camera_test.cpp
  src/final/camera_test.h
Labels: in progress, final

#147 Potato Cam (No LCD display)
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_ILI9341.h
  src/final/Adafruit_ImageReader.h
  src/final/I2C.h
  src/final/LED.cpp
  src/final/LED.h
  src/final/SD.h
  src/final/Sd2Card.cpp
  src/final/SdFile.cpp
  src/final/SysTick.c
  src/final/TJpg_Decoder.cpp
  src/final/TJpg_Decoder.h
  src/final/UART.cpp
  src/final/UART.h
  src/final/User_Config.h
  src/final/bitmap_test.h
  src/final/button.c
  src/final/button.h
  src/final/camera_interface.cpp
  src/final/camera_interface.h
  src/final/camera_test.cpp
  src/final/graphics_test.h
  src/final/hardware_usart1.cpp
  src/final/hardware_usart1.h
  src/final/hardware_usart2.h
  src/final/image_reader_test.cpp
  src/final/image_reader_test.h
  src/final/main.cpp
  src/final/nucleo.h
  src/final/potato_cam.cpp
  src/final/sdcard_list_files_test.h
  src/final/sdcard_read_write_test.h
  src/final/tjpgd.c
  src/final/tjpgd.h
  src/final/tjpgdcnf.h
Labels: tested, working, ready to merge, final

#148 Preview captured image on LCD
  .vscode/settings.json
  DebugConfig/STM32L476_STM32L476RGTx.dbgconf
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/final/Adafruit_ImageReader.h
  src/final/ArduCAM.cpp
  src/final/ArduCAM.h
  src/final/Print.cpp
  src/final/Print.h
  src/final/SdFile.cpp
  src/final/Stream.h
  src/final/TJpg_Decoder.cpp
  src/final/TJpg_Decoder.h
  src/final/UART.h
  src/final/button.c
  src/final/camera_interface.cpp
  src/final/camera_interface.h
  src/final/hardware_usart1.cpp
  src/final/hardware_usart1.h
  src/final/hardware_usart2.cpp
  src/final/hardware_usart2.h
  src/final/image_reader_test.cpp
  src/final/jpeg_decoder_test.cpp
  src/final/main.cpp
  src/final/panda.h
  src/final/potato.cpp
  src/final/potato.h
  src/final/potato_cam.cpp
Labels: tested, working, ready to merge, final
