Repository UCSB-Maxwell-Jung/ECE153B, pull requests merged in 2023-02, with the labels that each got.

#84 Lab5a attempt 1
  src/lab5a/ADC.c
Labels: untested, lab5

#86 Step 2.4: use ADC measurement to set PWM duty cycle for controlling LED brightness
  .vscode/settings.json
  ece153b_lab.uvoptx
  src/lab5a/PWM.c
  src/lab5a/PWM.h
  src/lab5a/main.c
Labels: tested, lab5, working, ready to merge

#85 Lab5a step 2.2, 2.3, 2.4
  .vscode/settings.json
  ece153b_lab.uvoptx
  src/lab5a/ADC.c
  src/lab5a/PWM.c
  src/lab5a/PWM.h
  src/lab5a/SysClock.c
  src/lab5a/main.c
Labels: tested, lab5, working, ready to merge

#92 Lab5b code fully implemented but Untested
  src/lab5b/DAC.c
  src/lab5b/EXTI.c
  src/lab5b/PWM.c
  src/lab5b/PWM.h
  src/lab5b/main.c
Labels: lab5, in progress

#87 Wrap up lab5a
  src/lab5a/ADC.c
  src/lab5a/PWM.c
  src/lab5a/main.c
Labels: lab5, ready to merge

#76 Finish Lab5a
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/lab5a/ADC.c
  src/lab5a/PWM.c
  src/lab5a/PWM.h
  src/lab5a/SysClock.c
  src/lab5a/main.c
Labels: tested, lab5, working, in progress

#93 Working Lab5b
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/lab5b/ADC.c
  src/lab5b/Button.c
  src/lab5b/Button.h
  src/lab5b/DAC.c
  src/lab5b/EXTI.c
  src/lab5b/PWM.c
  src/lab5b/PWM.h
  src/lab5b/SysClock.c
  src/lab5b/main.c
  src/lab5b/stm32l476xx.h
  starter_code/Lab5_patch.zip
Labels: tested, lab5, working, ready to merge

#82 Finish Lab5b
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  src/lab5b/ADC.c
  src/lab5b/Button.c
  src/lab5b/Button.h
  src/lab5b/DAC.c
  src/lab5b/EXTI.c
  src/lab5b/PWM.c
  src/lab5b/PWM.h
  src/lab5b/SysClock.c
  src/lab5b/main.c
  src/lab5b/stm32l476xx.h
  starter_code/Lab5_patch.zip
Labels: tested, lab5, working, ready to merge

#77 Finish Lab5
  .vscode/settings.json
  ece153b_lab.uvoptx
  ece153b_lab.uvprojx
  lab_manuals/ECE153B_Lab5_W23.pdf
  src/lab5a/ADC.c
  src/lab5a/ADC.h
  src/lab5a/PWM.c
  src/lab5a/PWM.h
  src/lab5a/SysClock.c
  src/lab5a/SysClock.h
  src/lab5a/main.c
  src/lab5a/startup_stm32l476xx.s
  src/lab5a/stm32l476xx.h
  src/lab5b/ADC.c
  src/lab5b/ADC.h
  src/lab5b/Button.c
  src/lab5b/Button.h
  src/lab5b/DAC.c
  src/lab5b/DAC.h
  src/lab5b/EXTI.c
  src/lab5b/EXTI.h
  src/lab5b/PWM.c
  src/lab5b/PWM.h
  src/lab5b/SysClock.c
  src/lab5b/SysClock.h
  src/lab5b/main.c
  src/lab5b/startup_stm32l476xx.s
  src/lab5b/stm32l476xx.h
  starter_code/Lab5_patch.zip
  starter_code/Template_L5.zip
Labels: tested, lab5, working, ready to merge

#91 Lab6a attempt 1
  src/lab6a/main.c
Labels: in progress, lab6

#95 Implement lab6a
  src/lab6a/main.c
Labels: ready to merge, lab6

#96 Implement lab6b
  src/lab6b/main.c
Labels: ready to merge, in progress, lab6
